---
layout: hero_bugs
title: "FixDoomfist | Reaper bugs"
permalink: "/heroes/Reaper/"
name: "Reaper"
role: "damage"
portrait: "/assets/images/heroes/Reaper.png"
---

{% assign bug_count = 0 %}
{% for bug in site.bugs %}
    {% if bug.heroes contains page.name %}
    {% assign bug_count = bug_count | plus: 1 %}
    <div class="separator"><span><b>{{bug_count}}</b></span></div>
        <div class='bug_card'>
            {% if bug.path contains '_bugs/intended/' %}
                <a href="{{bug.permalink}}"><h2>[INTENDED] {{bug.short_name}}</h2></a>
            {% elsif bug.path contains '_bugs/unsolved' %}
                <a href="{{bug.permalink}}"><h2>[UNSOLVED] {{bug.short_name}}</h2></a>
            {% else %}
                <a href="{{bug.permalink}}"><h2>{{bug.short_name}}</h2></a>
            {% endif %}
            <p>{{bug.content | markdownify}}</p>
        </div>
    {% endif %}
{% endfor %}