---
layout: wiki
title: "FixDoomfist | Soldier: 76 bugs"
permalink: "/heroes/Soldier: 76/"
name: "Soldier: 76"
role: "damage"
portrait: "/assets/images/Soldier: 76.png"
---

{% assign bug_count = 0 %}
{% for bug in site.bugs %}
    {% if bug.heroes contains page.name %}
    {% assign bug_count = bug_count | plus: 1 %}
    <div class="separator"><span><b>{{bug_count}}</b></span></div>
        <div class='bug_card'>
            <a href="{{bug.permalink}}"><h2>{{bug.short_name}}</h2></a>
            <p>{{bug.content | markdownify}}</p>
        </div>
    {% endif %}
{% endfor %}