---
---

@import "color";

@import "stats";

@function f_wrap($list, $index) {
  @return nth($list, (($index) % length($list)) + 1);
}

@function difference($list1, $list2) {
    $result: ();
    @each $item in $list1 {
        @if index($list2, $item) == null {
            $result: append($result, $item);
        }
    }
    @return $result;
}

$odd_category_count: 0;
$odd_categories: ();
@each $key, $value in $bug-count {
    @if $value % 2 == 1 {
        $odd_category_count: $odd_category_count + 1;
        $odd_categories: append($odd_categories, $key);
    }
}

body {
    background: $color-foreground-dt;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    gap: 1.2rem;
}

.columns a {
    color: inherit;
    text-decoration: none;
}

.card {
    display: grid;
    background: $color-foreground-dt;
    text-align: center;
    align-self: center;
    padding: 0 1rem;
    height: 100%;
    color: $color-text-dt;
    font-size: 1.1rem;
    box-shadow: 0 0 0.3rem 0.3rem $color-background-dt;
}

.accent {
    color: $color-background-dt;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left {
    grid-column: 1;
    align-self: right;
}

.center {
    grid-column: 2;
}

.right {
    grid-column: 3;
    align-self: left;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.controls-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: $color-text-dt;
    width: fit-content;
    margin: 0.5rem auto 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 0.3rem 0.3rem $color-background-dt;
    align-items: center;
    text-align: center;
}

.controls-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: $color-text-dt;
    width: fit-content;
    margin: 0.5rem auto 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 0.3rem 0.3rem $color-background-dt;
    align-items: center;
    text-align: center;
}


.sort-option {
    display: none;
}

.category-option {
    display: none;
}

label {
    padding: 1rem 1.5rem;
    font-weight: bold;
}

label:has(input:checked) {
    color: $color-background-dt;
}

.border-middle {
    border-left: 0.15rem solid $color-background-dt;
    border-right: 0.15rem solid $color-background-dt;
}

.border-right {
    border-right: 0.15rem solid $color-background-dt;
}

@media (max-width: 900px) {
    .columns {
        grid-template-columns: 1fr;
    }

    .title {
        grid-template-columns: 1fr;
    }

    .controls-left {
        width: 100%;
    }

    .controls-right {
        width: 100%;
    }
}

/* there is no god below this line. dont go further. */

@media (min-width: 900px) {
    @if $odd_category_count > 0 {
        @if $odd_category_count == 1 {
            $category: nth($odd_categories, 1);
            $category_index: index($abilities, $category);
            $b: f_wrap($abilities, $category_index + 1);
            $c: f_wrap($abilities, $category_index + 2);
            $d: f_wrap($abilities, $category_index + 3);
            
            body:has(#sort-importance-checkbox:checked) {
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category}):not(:has(~ .sort-importance:is(.#{$category}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category}, .#{$b}):not(:has(~ .sort-importance:is(.#{$category}, .#{$b}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category}, .#{$c}):not(:has(~ .sort-importance:is(.#{$category}, .#{$c}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category}, .#{$d}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category}, .#{$b}, .#{$c}):not(:has(~ .sort-importance:is(.#{$category}, .#{$b}, .#{$c}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category}, .#{$b}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category}, .#{$b}, .#{$d}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category}, .#{$c}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category}, .#{$c}, .#{$d}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category}, .#{$b}, .#{$c}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category}, .#{$b}, .#{$c}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }
            
            body:has(#sort-alphabetical-checkbox:checked) {
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category}):not(:has(~ .sort-alphabetical:is(.#{$category}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category}, .#{$b}):not(:has(~ .sort-alphabetical:is(.#{$category}, .#{$b}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category}, .#{$c}):not(:has(~ .sort-alphabetical:is(.#{$category}, .#{$c}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category}, .#{$d}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category}, .#{$b}, .#{$c}):not(:has(~ .sort-alphabetical:is(.#{$category}, .#{$b}, .#{$c}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category}, .#{$b}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category}, .#{$b}, .#{$d}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category}, .#{$c}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category}, .#{$c}, .#{$d}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category}, .#{$b}, .#{$c}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category}, .#{$b}, .#{$c}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }
            
            body:has(#sort-heroes-affected-checkbox:checked) {
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category}):not(:has(~ .sort-heroes-affected:is(.#{$category}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category}, .#{$b}):not(:has(~ .sort-heroes-affected:is(.#{$category}, .#{$b}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category}, .#{$c}):not(:has(~ .sort-heroes-affected:is(.#{$category}, .#{$c}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category}, .#{$d}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category}, .#{$b}, .#{$c}):not(:has(~ .sort-heroes-affected:is(.#{$category}, .#{$b}, .#{$c}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category}, .#{$b}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category}, .#{$b}, .#{$d}))),
                &:has(#{'#' + $category}:checked):not(:has(#{'#' + $b}:checked)):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category}, .#{$c}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category}, .#{$c}, .#{$d}))),
                &:has(#{'#' + $category}:checked):has(#{'#' + $b}:checked):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category}, .#{$b}, .#{$c}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category}, .#{$b}, .#{$c}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }
        } @else if $odd_category_count == 2 {
            $category1: nth($odd_categories, 1);
            $category2: nth($odd_categories, 2);
            $other-categories: difference($abilities, $odd_categories);
            $c: nth($other-categories, 1);
            $d: nth($other-categories, 2);

            body:has(#sort-importance-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category1}):not(:has(~ .sort-importance:is(.#{$category1}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category1}, .#{$c}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$c}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category1}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$d}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category1}, .#{$c}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$c}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category2}):not(:has(~ .sort-importance:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category2}, .#{$c}):not(:has(~ .sort-importance:is(.#{$category2}, .#{$c}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category2}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category2}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category2}, .#{$c}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category2}, .#{$c}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }

            body:has(#sort-alphabetical-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category1}):not(:has(~ .sort-alphabetical:is(.#{$category1}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category1}, .#{$c}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$c}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category1}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$d}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category1}, .#{$c}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$c}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category2}):not(:has(~ .sort-alphabetical:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category2}, .#{$c}):not(:has(~ .sort-alphabetical:is(.#{$category2}, .#{$c}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category2}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category2}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category2}, .#{$c}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category2}, .#{$c}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }

            body:has(#sort-heroes-affected-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category1}):not(:has(~ .sort-heroes-affected:is(.#{$category1}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category1}, .#{$c}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$c}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category1}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$d}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category1}, .#{$c}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$c}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $c}:checked)):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category2}):not(:has(~ .sort-heroes-affected:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $c}:checked):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category2}, .#{$c}):not(:has(~ .sort-heroes-affected:is(.#{$category2}, .#{$c}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $c}:checked)):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category2}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category2}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $c}:checked):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category2}, .#{$c}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category2}, .#{$c}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }
        } @else if $odd_category_count == 3 {
            $category1: nth($odd_categories, 1);
            $category2: nth($odd_categories, 2);
            $category3: nth($odd_categories, 3);
            $other-categories: difference($abilities, $odd_categories);
            $d: nth($other-categories, 1);

            body:has(#sort-importance-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category1}):not(:has(~ .sort-importance:is(.#{$category1}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category1}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category2}):not(:has(~ .sort-importance:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category2}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category2}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category3}):not(:has(~ .sort-importance:is(.#{$category3}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category3}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category3}, .#{$d}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):not(:has(#{'#' + $d}:checked)) .sort-importance:is(.#{$category1}, .#{$category2}, .#{$category3}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$category2}, .#{$category3}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):has(#{'#' + $d}:checked) .sort-importance:is(.#{$category1}, .#{$category2}, .#{$category3}, .#{$d}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$category2}, .#{$category3}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }

            body:has(#sort-alphabetical-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category1}):not(:has(~ .sort-alphabetical:is(.#{$category1}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category1}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category2}):not(:has(~ .sort-alphabetical:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category2}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category2}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category3}):not(:has(~ .sort-alphabetical:is(.#{$category3}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category3}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category3}, .#{$d}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):not(:has(#{'#' + $d}:checked)) .sort-alphabetical:is(.#{$category1}, .#{$category2}, .#{$category3}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$category2}, .#{$category3}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):has(#{'#' + $d}:checked) .sort-alphabetical:is(.#{$category1}, .#{$category2}, .#{$category3}, .#{$d}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$category2}, .#{$category3}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }

            body:has(#sort-heroes-affected-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category1}):not(:has(~ .sort-heroes-affected:is(.#{$category1}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category1}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category2}):not(:has(~ .sort-heroes-affected:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category2}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category2}, .#{$d}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category3}):not(:has(~ .sort-heroes-affected:is(.#{$category3}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category3}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category3}, .#{$d}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):not(:has(#{'#' + $d}:checked)) .sort-heroes-affected:is(.#{$category1}, .#{$category2}, .#{$category3}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$category2}, .#{$category3}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):has(#{'#' + $d}:checked) .sort-heroes-affected:is(.#{$category1}, .#{$category2}, .#{$category3}, .#{$d}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$category2}, .#{$category3}, .#{$d}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }
        } @else if $odd_category_count == 4 {
            $category1: nth($odd_categories, 1);
            $category2: nth($odd_categories, 2);
            $category3: nth($odd_categories, 3);
            $category4: nth($odd_categories, 4);

            body:has(#sort-importance-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $category4}:checked)) .sort-importance:is(.#{$category1}):not(:has(~ .sort-importance:is(.#{$category1}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $category4}:checked)) .sort-importance:is(.#{$category2}):not(:has(~ .sort-importance:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):not(:has(#{'#' + $category4}:checked)) .sort-importance:is(.#{$category3}):not(:has(~ .sort-importance:is(.#{$category3}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $category4}:checked) .sort-importance:is(.#{$category4}):not(:has(~ .sort-importance:is(.#{$category4}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):not(:has(#{'#' + $category4}:checked)) .sort-importance:is(.#{$category1}, .#{$category2}, .#{$category3}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$category2}, .#{$category3}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $category4}:checked) .sort-importance:is(.#{$category1}, .#{$category2}, .#{$category4}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$category2}, .#{$category4}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):has(#{'#' + $category4}:checked) .sort-importance:is(.#{$category1}, .#{$category3}, .#{$category4}):not(:has(~ .sort-importance:is(.#{$category1}, .#{$category3}, .#{$category4}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):has(#{'#' + $category4}:checked) .sort-importance:is(.#{$category2}, .#{$category3}, .#{$category4}):not(:has(~ .sort-importance:is(.#{$category2}, .#{$category3}, .#{$category4}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }

            body:has(#sort-alphabetical-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $category4}:checked)) .sort-alphabetical:is(.#{$category1}):not(:has(~ .sort-alphabetical:is(.#{$category1}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $category4}:checked)) .sort-alphabetical:is(.#{$category2}):not(:has(~ .sort-alphabetical:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):not(:has(#{'#' + $category4}:checked)) .sort-alphabetical:is(.#{$category3}):not(:has(~ .sort-alphabetical:is(.#{$category3}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $category4}:checked) .sort-alphabetical:is(.#{$category4}):not(:has(~ .sort-alphabetical:is(.#{$category4}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):not(:has(#{'#' + $category4}:checked)) .sort-alphabetical:is(.#{$category1}, .#{$category2}, .#{$category3}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$category2}, .#{$category3}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $category4}:checked) .sort-alphabetical:is(.#{$category1}, .#{$category2}, .#{$category4}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$category2}, .#{$category4}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):has(#{'#' + $category4}:checked) .sort-alphabetical:is(.#{$category1}, .#{$category3}, .#{$category4}):not(:has(~ .sort-alphabetical:is(.#{$category1}, .#{$category3}, .#{$category4}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):has(#{'#' + $category4}:checked) .sort-alphabetical:is(.#{$category2}, .#{$category3}, .#{$category4}):not(:has(~ .sort-alphabetical:is(.#{$category2}, .#{$category3}, .#{$category4}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }

            body:has(#sort-heroes-affected-checkbox:checked) {
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $category4}:checked)) .sort-heroes-affected:is(.#{$category1}):not(:has(~ .sort-heroes-affected:is(.#{$category1}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):not(:has(#{'#' + $category4}:checked)) .sort-heroes-affected:is(.#{$category2}):not(:has(~ .sort-heroes-affected:is(.#{$category2}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):not(:has(#{'#' + $category4}:checked)) .sort-heroes-affected:is(.#{$category3}):not(:has(~ .sort-heroes-affected:is(.#{$category3}))),
                &:not(:has(#{'#' + $category1}:checked)):not(:has(#{'#' + $category2}:checked)):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $category4}:checked) .sort-heroes-affected:is(.#{$category4}):not(:has(~ .sort-heroes-affected:is(.#{$category4}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):not(:has(#{'#' + $category4}:checked)) .sort-heroes-affected:is(.#{$category1}, .#{$category2}, .#{$category3}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$category2}, .#{$category3}))),
                &:has(#{'#' + $category1}:checked):has(#{'#' + $category2}:checked):not(:has(#{'#' + $category3}:checked)):has(#{'#' + $category4}:checked) .sort-heroes-affected:is(.#{$category1}, .#{$category2}, .#{$category4}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$category2}, .#{$category4}))),
                &:has(#{'#' + $category1}:checked):not(:has(#{'#' + $category2}:checked)):has(#{'#' + $category3}:checked):has(#{'#' + $category4}:checked) .sort-heroes-affected:is(.#{$category1}, .#{$category3}, .#{$category4}):not(:has(~ .sort-heroes-affected:is(.#{$category1}, .#{$category3}, .#{$category4}))),
                &:not(:has(#{'#' + $category1}:checked)):has(#{'#' + $category2}:checked):has(#{'#' + $category3}:checked):has(#{'#' + $category4}:checked) .sort-heroes-affected:is(.#{$category2}, .#{$category3}, .#{$category4}):not(:has(~ .sort-heroes-affected:is(.#{$category2}, .#{$category3}, .#{$category4}))) {
                    grid-column: 1 / -1;
                    justify-self: center;
                    width: calc(50% - 0.6rem)
                }
            }
        }
    }

    .columns > *:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
        width: calc(50% - 0.6rem);
    }
}

.punch,
.slam,
.block,
.ult,
.sort-importance,
.sort-alphabetical,
.sort-heroes-affected {
    display: none;
}

body:has(#punch:checked):has(#sort-importance-checkbox:checked)
    a.punch.sort-importance {
    display: revert;
}

body:has(#slam:checked):has(#sort-importance-checkbox:checked)
    a.slam.sort-importance {
    display: revert;
}

body:has(#block:checked):has(#sort-importance-checkbox:checked)
    a.block.sort-importance {
    display: revert;
}

body:has(#ult:checked):has(#sort-importance-checkbox:checked)
    a.ult.sort-importance {
    display: revert;
}

body:has(#punch:checked):has(#sort-alphabetical-checkbox:checked)
    a.punch.sort-alphabetical {
    display: revert;
}

body:has(#slam:checked):has(#sort-alphabetical-checkbox:checked)
    a.slam.sort-alphabetical {
    display: revert;
}

body:has(#block:checked):has(#sort-alphabetical-checkbox:checked)
    a.block.sort-alphabetical {
    display: revert;
}

body:has(#ult:checked):has(#sort-alphabetical-checkbox:checked)
    a.ult.sort-alphabetical {
    display: revert;
}

body:has(#punch:checked):has(#sort-heroes-affected-checkbox:checked)
    a.punch.sort-heroes-affected {
    display: revert;
}

body:has(#slam:checked):has(#sort-heroes-affected-checkbox:checked)
    a.slam.sort-heroes-affected {
    display: revert;
}

body:has(#block:checked):has(#sort-heroes-affected-checkbox:checked)
    a.block.sort-heroes-affected {
    display: revert;
}

body:has(#ult:checked):has(#sort-heroes-affected-checkbox:checked) 
    a.ult.sort-heroes-affected {
    display: revert;
}
