---
---

@import "style";

html, body {
    margin: 0;
}

body {
    background: $color-foreground-dt;
    color: $color-text-dt;
    overflow-x: hidden;
}

.box {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100dvh;
}

.box a {
    color: $color-text-dt;
    text-decoration: underline;
    text-decoration-color: $color-text-red;
}

.box a:hover {
    color: $color-text-red;
}

.accent {
    color: $color-text-red;
}
