---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FixDoomfist | {{ page.short_name }}</title>
        {% include theme.html %}
        <link rel="stylesheet" href="/assets/css/bug_wiki.css">
    </head>
    <body>
        <div class="wiki-box">
            <div class="title_div"><h1><span class="title">{{page.short_name}}</span></h1></div>
            <div class="separator-first"><h3>Summary</h3></div>
            {{ content }}
            <div class="separator"><h3>Stats</h3></div>
            {% assign heroes = page.heroes | uniq %}
            {% assign reports = page.bug_report %}
            <li>Bug initially reported by: {{page.credit}}.</li>
            {% if page.on_hydra %}
                <li>This bug is reported on The Hydra List.</li>
            {% else %}
                <li>This bug is not reported on The Hydra List.</li>
            {% endif %}
            <li>Heroes that can apply: {% for hero in heroes %}<a href="/heroes/{{hero}}/">{{hero}}</a>{% unless forloop.last %}; {% endunless %}{% endfor %}.</li>
            {% for report in site.data.reports %}
                <a href="{{ report }}">Report {{ forloop.index }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            <li>Forum bug report(s): {% for report in reports %}<a href="{{ report }}">Report #{{ forloop.index }}</a>{% unless forloop.last %}; {% endunless %}{% endfor %}.</li>
            <li>This bug is ranked <span class="accent">#{{page.ability_rank}}</span> in this ability's category and <span class="accent">#{{page.total_rank}}</span> in total.</li>
            <div class="separator"><h3>Videos</h3></div>
            <div class="video_list">
                {% for link in page.youtube_link %}
                    {% assign video_id = link | split: "youtu.be/" | last | split: "?" | first %}
                    <iframe
                        src="https://www.youtube-nocookie.com/embed/{{ video_id }}"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
