---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        {% include style.html %}
        <link rel="stylesheet" href="/assets/css/hero_bugs.css">
    </head>
    <body>
        <div class="wiki-box">
            {% assign bug_count = 0 %}
            {% for bug in site.bugs %}
                {% if bug.heroes contains page.name %}
                {% assign bug_count = bug_count | plus: 1 %}
                <div class="separator"><span><b>{{bug_count}}</b></span></div>
                    <div class='bug_card'>
                        {% if bug.path contains '_bugs/intended/' %}
                            <a href="{{bug.permalink}}"><h2>[INTENDED] {{bug.short_name}}</h2></a>
                        {% elsif bug.path contains '_bugs/unsolved' %}
                            <a href="{{bug.permalink}}"><h2>[UNSOLVED] {{bug.short_name}}</h2></a>
                        {% else %}
                            <a href="{{bug.permalink}}"><h2>{{bug.short_name}}</h2></a>
                        {% endif %}
                        <div class="bug_text">{{bug.content | split: "<!-- SPLIT -->" | first | markdownify | truncatewords: 50}}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </body>
</html>
